body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("https://i.imgur.com/vF3TFGw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  padding: 1%;
  padding-bottom: 0;
  background-color: #325e3b;
}


a:hover, .bold-name a:hover {
  color: #162813;
}

a {
  color: #beccbb;
  text-decoration: none;
}

.top-buttons li {
  display: inline;
  float: right;
  font-family: 'Quicksand', sans-serif;
  color: #beccbb;
  padding: 0 30px;
  font-size: 12pt;
}

.bold-name a {
  font-size: 22px;
  color: #beccbb;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #325e3b;
  text-align: center;
}

.bottom-buttons li{
  display: inline;
  padding: 0 20px;
  font-size: 24pt;
  padding-bottom: 0;
}

.bottom-buttons i {
  color: #beccbb;
}

i:hover {
  color: #162813;
}
