body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("https://i.imgur.com/jQDdLsq.jpg");
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  padding: 1%;
  padding-bottom: 0;
  background-color: #112615;
}


a:hover, .bold-name a:hover {
  color: #162813;
}

a {
  color: #beccbb;
  /* font-family: 'Quicksand'; */
  text-decoration: none;
}

.top-buttons li {
  display: inline;
  float: right;
  font-family: 'Quicksand';
  color: #beccbb;
  padding: 0 30px;
  font-size: 12pt;
}

.bold-name a {
  font-size: 22px;
  /* color: #beccbb; */
}

.bold-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 300px; */
  margin-top: 200px;
  adding-bottom: 150px;
  justify-content: flex-end;
  color: white;
  font-size: 25px;
  color: #d0e2cc;
  font-family: "Quicksand", sans-serif;
  /* #325e3b; */
}

p {
  margin-top: 0px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #112615;
  text-align: center;
}

.bottom-buttons li{
  display: inline;
  padding: 0 20px;
  font-size: 24pt;
  padding-bottom: 0;
}

.bottom-buttons i {
  color: #beccbb;
}

i:hover {
  color: #162813;
}
