.projects {
  text-align: center;
  color: #d0e2cc;
  padding-top: 5%;
}

h1 {
  padding-top: 5%;
}

.project-box {
  padding: 2%;
  border: 1.5px solid #d0e2cc;
  border-radius: 10px;
  width: 400px;
  margin: 1%;
}

.projects-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
