.projects {
  margin: 5%;
  text-align: center;
  color: #d0e2cc;
}

.project-box {
  display: inline-block;
  border-style: solid;
  border-color: #d0e2cc;
  border-radius: 20px;
  width: 25%;
  margin: 2%;
}

h2, p {
    color: #d0e2cc;
}
